body{
	padding: 0;
	margin: 0;
	font-family: Arial,Helvetica,sans-serif;
	overflow: hidden;
}

/*start:header*/
.main-container{
	width: 1200px;
	margin: 0 auto;
}
/*Start of navigation bar*/
header{
	background-color: #fff;
	font-color: white;
	position: relative;
	z-index: 1000;

}


header nav ul{
	/*max-width: 1200px;*/
	padding: 0 auto;
	overflow: auto;
	margin-top: 10px;
	margin-left:50px;

}
header nav  li{
	list-style: none;
	float: right;

}
header nav ul li a{
	color: purple;
	padding: 20px;
	float: right;
	text-decoration: none;

}
header nav ul li a:Hover{
	color:cyan;
}
header nav ul{
	margin: 0;
	padding: 0;
}
/*end of navigation bar*/

/*start of picture slides*/
.banner1,.banner2,.banner3,.banner4,.banner5{
	padding-top: 10px;
	height:100vh;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
}
img{
	/*height: 990px;*/
	width:100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	animation: zoom-out 3s linear infinite;

}
@keyframes zoom-out{
	100%{
		width: 100%;
	}

}

.text-box{
	width: 600PX;
	position:absolute;
	top: 200px;
	left: 100px;
	color: #fff; 
	animation: textup 12s linear infinite;
	transform: translateY(100px);
}
.text-box h1{
	margin-bottom: 40px;
}
.text-box p{
	font-size: 20px;
	line-height: 18px;
	margin-top: 80px;
}
.text-box span{
	background-color: red;
	height: 1px;
	width: 100px;
	position: absolute;
	left: 0;

}
.banner1{
	animation: slide1 12s linear infinite;
}
.banner2{
	animation: slide2 12s linear infinite;
}
.banner3{
	animation: slide3 12s linear infinite;
}
.banner4{
	animation: slide4 12s linear infinite;
}
.banner5{
	animation: slide5 12s linear infinite;
}
@keyframes slide1{
	0%{
		visibility: visible;
	}
	25%{
		visibility: hidden;
	}
	50%{
		visibility: hidden;
	}
	75%{
		visibility: hidden;
	}
	100%{
		visibility: hidden;
	}
	125%{
		visibility: visible;
	}
}
@keyframes slide2{
	0%{
		visibility: hidden;
	}
	25%{
		visibility: hidden;
	}
	50%{
		visibility: visible;
	}
	75%{
		visibility: hidden;
	}
	100%{
		visibility: hidden;
	}
	125%{
		visibility: hidden;
	}
}
@keyframes slide3{
	0%{
		visibility: hidden;
	}
	25%{
		visibility: hidden;
	}
	50%{
		visibility: hidden;
	}
	75%{
		visibility: visible;
	}
	100%{
		visibility: hidden;
	}
	125%{
		visibility: hidden;
	}
}
@keyframes slide4{
	0%{
		visibility: hidden;
	}
	25%{
		visibility: hidden;
	}
	50%{
		visibility: hidden;
	}
	75%{
		visibility: hidden;
	}
	100%{
		visibility: visible;
	}
	125%{
		visibility: hidden;
	}
}
@keyframes slide5{
	0%{
		visibility: hidden;
	}
	25%{
		visibility: hidden;
	}
	50%{
		visibility: hidden;
	}
	75%{
		visibility: hidden;
	}
	100%{
		visibility: hidden;
	}
	125%{
		visibility: visible;
	}
}
@keyframes textup{
	10%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(0px);
	}

}


/*.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}
h1 {
  padding: 10px;
}*/
/*
.img-shirley{
  overflow: hidden;
}

.img-shirley img {
  width: 350px;
  height: 250px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.img-container img:hover {
  transform: scale(1.2);
}

/*end of image*/ slider*/

